
body {
    background: rgb(173, 169, 169);
}

.box {
    background: rgb(112, 109, 109);
    height: 600px;
    width: 600px;
    
}
.secondary-box {
    background: red;
    height: 20px;
    width: 20px;

}